.toast-list {
  pointer-events: none;
  z-index: 111111;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  right: 1px;
  left: 1px;
  list-style: none;
  padding: 0;
  line-break: auto;
  white-space: pre-wrap;

  > li:first-child {
    margin-top: 4rem;
  }
  > li:not(:last-of-type) {
    margin-bottom: 0.5rem;
  }
}

.close-button {
  float: right;
  padding: 0.5rem;
}
