@use "src/theme/colors.module";

.plus-icon {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  font-size: 1.25rem !important;
}

.minus-icon {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  font-size: 1.1rem !important;
}

.rss-btn {
  padding: 0.25rem;
  line-height: 1.75rem;
  background-color: colors.$orange-dark !important;
  border: 0;
  border-radius: 0.25rem;
  color: #fff;
  box-shadow: none !important;
  opacity: 0.8;
  &:hover, &:focus {
    opacity: 1;
  }

  svg {
    font-size: 2rem;
  }
}

.create-thread-btn {
  padding: 0.25rem;
  line-height: 1.75rem;
  background-color: transparent !important;
  border: 0;
  border-radius: 0.25rem;
  color: #fff;
  box-shadow: none !important;
  opacity: 0.8;
  &:hover, &:focus {
    opacity: 1;
  }

  svg {
    font-size: 2rem;
    fill: colors.$orange;
  }
}

.custom-btn {
  padding: 2px;
  line-height: 1.75rem;
  border-radius: 50%;
  background: transparent !important;
  border: 0;
  color: #fff;
  box-shadow: none !important;

  svg {
    font-size: 1.3rem;
    &:hover {
      color: colors.$tab_hover;
    }
    &:focus {
      color: colors.$tab_hover;
    }
  }
}

.nav-btn {
  padding: 0.25rem;
  margin-right: 0.25rem;
  line-height: 1.75rem;
  border-radius: 50%;
  background: transparent !important;
  border: 1px solid transparent !important;
  color: #fff;
  box-shadow: none !important;

  svg {
    font-size: 2rem;

    &:hover, &:focus {
      color: colors.$green-dark;
    }
  }
}

.spin-button {
  padding: 0.25rem;
  border-radius: 50%;
  background: transparent !important;
  border: 1px solid transparent !important;
  box-shadow: none !important;

  svg {
    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    margin: 1px auto;
    font-size: 1.5rem;
    transition: all .3s ease;
    opacity: 1;
    fill: #fff;
  }
  &:hover svg, &.sync-initialized svg {
    fill: colors.$tab_hover;
  }
  &.spinning svg {
    animation: spin 1s infinite;
  }
  &:disabled svg {
    opacity: 0.5;
  }
}

.delete-btn {
  padding: 0.25rem 0.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  border-radius: 50%;
  background: transparent;
  border: 1px solid transparent;
  svg {
    color: #bd0c0c;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
}

.float-right-fixed {
  position: fixed;
  right: calc(5vw + 1rem);
}

.float-right {
  position: relative;
  float: right;
  right: 2.5rem;
}

.close-btn {
  padding: 0.2rem;
  background-color: rgba(33, 33, 33, 1);
  &:hover {
    background-color: rgba(50, 50, 50, 1);
  }
}

.clear-btn {
  position: relative;
  float: right;
  width: fit-content;
  height: fit-content;
  margin-left: 0 !important;
  margin-right: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.2rem;
  background-color: rgba(33, 33, 33, 1);
  &:hover {
    background-color: rgba(50, 50, 50, 1);
  }

  svg {
    width: 0.7em;
    height: 0.7em;
  }

  &--disabled {
    &:hover {
      background-color: unset;
    }
  }
}

.toggle-btn {
  position: relative;
  float: right;
  width: fit-content;
  height: fit-content;
  margin-left: 0 !important;
  margin-right: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.2rem;
  background-color: transparent;
  color: colors.$text;
  font-size: 0.875rem;
  opacity: 1;

  &--disabled {
    opacity: 0.5;
  }

  &--on {
    color: colors.$green;
  }

  &--off {
    color: colors.$red;
  }

  svg {
    width: 1em;
    height: 1em;
    margin-right: 0.2rem;
    fill: colors.$text;
  }
}
