@use "src/theme/breakpoints.module";

.container {
  margin: auto;
}

.leftPane {
  display: inline;
  max-width: 30%;
  min-width: 19rem;
  @media only screen and (max-width: breakpoints.$md) {
    max-width: 100%;
  }
}

.rightPane {
  width: 100%;
  padding-left: 2rem;
  @media screen and (max-width: breakpoints.$sm) {
    padding-left: 0;
    margin-top: 15px;
  }
}

.tab-panel {
  margin-top: 15px;
  width: 95%;
}

.tabHeader {
  text-transform: inherit;
  color: #fff;
}

.wrapper {
  margin-top: 1rem;
  min-width: 100%;
  display: flex;
  padding: 0 1rem;
  @media only screen and (max-width: breakpoints.$md) {
    margin-top: 15px;
    flex-direction: column;
  }
}
