$text-color: rgba(255, 255, 255, 0.93);
$ep-bg-color: rgba(20, 33, 40, 1);

.ep-link {
  color: var(--color-metadata-medium) !important;
  padding: 0;
  margin-bottom: 0.25rem;
  display: block;
  text-decoration: none;
  text-align: right;
  opacity: 0.8;
  &:hover, &:focus, &:active {
    opacity: 1;
  }
}

.ep-card-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 0;
  word-wrap: break-word;
  background-color: $ep-bg-color;
  background-clip: border-box;
  border: 1px solid rgba(47, 42, 48, 0.85);
  border-radius: 0.375rem;
}

.ep-card-body {
  width: calc(100% - 1rem);
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  min-height: 1px;
}

.ep-image-box {
  flex-grow: 0;
  display: inline-block;
  position: relative;
  line-height: 0;
  padding-right: 0.5rem;
}

.ep-image {
  height: 3.125rem;
  min-height: 3.125rem;
  width: 3.125rem;
  min-width: 3.125rem;
  border-radius: 0.75rem;
}

.ep-description {
  max-width: 70%;
  display: inline-block;
  white-space: normal;
  flex-direction: column;
  flex-grow: 33;
  color: $text-color;

  > p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }

  &--clickable {
    @extend .ep-description;
    cursor: pointer;
  }

  &--expanded {
    white-space: pre-line;
    display: inline-flex;
  }
}

.ep-metadata {
  max-width: 27%;
  display: flex;
  flex-direction: column;
  flex-grow: 99;
  align-items: flex-end;
  padding-left: 1rem;

  @media only screen and (max-width: 960px) {
    padding-left: 0.5rem;
  }
}

.ep-small-metadata {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  line-height: 1;
  font-size: small;
  color: var(--color-metadata);
  margin-top: 1px;

  @media only screen and (max-width: 960px) {
    flex-direction: column;
  }
}

.ep-metadatum {
  display: flex;
  align-items: center;
  line-height: 1;
  font-size: small;
  color: var(--color-metadata);
  padding-left: 0.5rem;
}

svg.ep-metadatum-icon {
  margin: 0.2rem;
  font-size: 1em;
  fill: var(--color-metadata);
}
