$podcast-details-modal-z-index: 100110;
$text-color: rgba(255, 255, 255, 0.93);
$modal-bg-color: rgba(33, 33, 33, 1);

.toolbar {
  display: flex;
  position: relative;
  float: right;
  right: 2.5rem;

  > button {
    margin-right: 0.5rem;
  }
}

.filter-clear-button {
  position: absolute;
  right: 0.3rem;
  top: 0;
}

.podcast-details-close-button {
  z-index: calc($podcast-details-modal-z-index + 1);
}

.podcast-details-modal {
  z-index: $podcast-details-modal-z-index;
  margin: 6vh 5vw;
  background-color: $modal-bg-color;
  border: 2px solid rgba(38, 38, 38, 1);
  border-radius: 1rem;

  @media only screen and (max-width: 960px) {
    margin-top: 9vh;
  }
}

.podcast-details-inner-container {
  height: 100%;
  padding: 1vw;
  overflow-x: hidden;
  overflow-y: auto;
  color: $text-color;
}

.podcast-details-title {
  max-width: 80%;
}

.podcast-details-description {
  display: flex;
  flex-direction: row;
  padding-top: 0.25rem;
  margin: 0.5rem auto;
}

.podcast-details-image {
  border-radius: 1rem;
  width: 10rem;
  height: 10rem;
  margin-right: 0.5rem;
}

#podcast-details-metadata-table {
  td {
    vertical-align: top;
    padding-right: 0.5rem;
  }
}

.podcast-details-metadata-table-container {
  margin: 0.5rem auto;
}

.episodes-toolbar {
  display: flex;
  flex-direction: row;

  @media only screen and (max-width: 960px) {
    flex-direction: column;
  }
}

.episode-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
