$text-color: rgba(255, 255, 255, 0.93);
$podcast-details-modal-z-index: 100110;

.filter-clear-button {
  position: absolute;
  right: 0.3rem;
  top: 0;
}

.podcast-details-close-button {
  z-index: calc($podcast-details-modal-z-index + 1);
}

.podcast-details-modal {
  z-index: $podcast-details-modal-z-index;
  margin: 5vw;
  background-color: rgba(13, 13, 13, 1);
  border: 2px solid rgba(38, 38, 38, 1);
  border-radius: 1rem;
}

.podcast-details-inner-container {
  height: 100%;
  padding: 1vw;
  overflow-x: hidden;
  overflow-y: auto;
  color: $text-color;
}

.podcast-details-podcast-description {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  margin: 0.5rem auto;
}

.podcast-details-podcast-image {
  border-radius: 1rem;
  width: 10rem;
  height: 10rem;
  margin-right: 0.5rem;
}

#podcast-details-podcast-metadata-table {
  td {
    vertical-align: top;
    padding-right: 0.5rem;
  }
}

.podcast-details-podcast-metadata-table-container {
  margin: 0.5rem auto;
}

.episodes-toolbar {
  display: flex;
  flex-direction: row;
}

.episode-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
