$min-table-width: 750px;
$search-results-modal-z-index: 100100;
$modal-bg-color: rgba(33, 33, 33, 1);
$table-row-bg-color: rgba(20, 33, 40, 1);

.text-highlight {
  color: darkorange;
}

.search-results-close-button {
  z-index: calc($search-results-modal-z-index + 1);
}

.search-results-modal {
  z-index: $search-results-modal-z-index;
  margin: 5vw;
  background-color: $modal-bg-color;
  border: 2px solid rgba(38, 38, 38, 1);
  border-radius: 1rem;
}

.search-results-table-container {
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

.search-results-table-row {
  background-color: $table-row-bg-color;
  &:hover {
    background-color: darkblue;
  }
}

.search-results-table-head-cell {
  font-weight: bold;
  white-space: nowrap;
  padding-left: 1rem;
}

.search-results-table-col-title {
  width: 20%;
  min-width: calc(0.2 * $min-table-width);
  padding-left: 1rem;
  font-weight: bold;
}

.search-results-table-col-author {
  width: 16%;
  min-width: calc(0.16 * $min-table-width);
}

.search-results-table-col-date {
  width: 10%;
  min-width: calc(0.1 * $min-table-width);
  white-space: pre-line;
}

.search-results-table-col-eps {
  width: 8%;
  min-width: calc(0.08 * $min-table-width);
}

.search-results-table-col-feed-url {
  width: 29%;
  min-width: calc(0.29 * $min-table-width);
}

.search-results-table-col-genres {
  width: 16%;
  min-width: calc(0.16 * $min-table-width);
}
