@use "src/theme/breakpoints.module";
@use "src/theme/colors.module";

.header {
  color: colors.$table_text;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.list-container {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.75rem;
  background-color: colors.$bg;
  border: 2px solid rgba(38, 38, 38, 1);
  border-radius: 1rem;
  max-width: 100%;
  height: auto;
  min-height: 26vh;
}

.latest-release {
  margin-right: 2rem;
  display: flex;
  align-items: center;
  color: colors.$orange;
  font-size: 12px;
}

.time-release {
  font-size: 10px;
  margin-top: 1px;
  text-transform: capitalize;
  color: colors.$orange;
  line-height: 1rem;

  svg {
    font-size: 12px;
    margin-right: 0.1rem;
    fill: colors.$orange;
  }
}

.list-item {
  color: colors.$table_text;
  padding: 0.25rem 0.25rem;
  border-radius: 0.5rem;
  justify-content: space-between;
  align-items: center;
  cursor: default;
  display: flex;
  opacity: 1;

  &:hover {
    background-color: #030303;
  }

  &--disabled {
    opacity: 0.5;

    &:hover {
      background-color: unset;
    }
  }
}

.title-header {
  color: colors.$orange-medium;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0;

  @media only screen and (max-width: breakpoints.$md) {
    width: auto;
  }
}

.title-detail {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-grow: 999;
  max-width: 80%;
}

.item-title {
  width: 90%;
  text-decoration: none;
}

.podcast-image-whalephant {
  padding-right: 0.5rem;

  svg {
    width: 1.68rem;
    height: 2rem;
  }
}

.podcast-image {
  object-fit: cover;
  border-radius: 0.75rem;
  width: 52px;
  height: 52px;
  margin-right: 0.75rem;

  @media only screen and (max-width: breakpoints.$md) {
    width: 40px;
    height: 40px;
  }
}

.meta-detail {
  display: flex;
}

.call-to-action {
  cursor: auto;
  display: flex;
  align-items: center;
  flex-grow: 0;
  margin-left: 0;

  @media only screen and (max-width: breakpoints.$md) {
    margin-left: auto;
  }
}

.action-info {
  padding-right: 1rem;
  flex-direction: row-reverse;

  @media only screen and (max-width: breakpoints.$md) {
    margin-left: auto;
  }
}

.action-btn {
  cursor: pointer;
  border: solid 2px rgba(255, 255, 255, 0.1);
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 2.5rem;
  padding: 0 0.5rem;

  > button:not(:last-of-type) {
    margin-right: 0.4rem;
  }

  @media only screen and (max-width: breakpoints.$md) {
    padding: 0;
    border: none;
  }
}

.no-bg {
  background-color: transparent;
}
